@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#name{text-align: center;
font-size: 60px;
font-family: 'Josefin Sans', sans-serif;
margin-top:20px;
color: rgb(253, 253, 253);
}

.image{
    width: 250px;
    height: 250px;
border-radius: 50%;
margin-top: 70px;
margin-left: 40%;
border-color: aliceblue }






body{background-image: url(pics/halftone-background-with-circles_23-2148907689.jpg);
background-size:contain;
background-repeat:repeat-y;
color: rgb(255, 255, 255);
text-align:;}

.topic{text-align: center;
    padding-left: 20px;
font-size: 50px;
font-family: 'Raleway', sans-serif;
color: bisque;
margin-bottom: 1%;}

.con{text-align:center ;
width:100%;
    margin-top: 40px;
  display:inline-block;}


    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 150px;
        border:;
       border-radius: %;
        perspective: 1000px; 
    }
  /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border-radius: 
    }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        
    }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-colo
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color:;
        color: white;
        transform: rotateY(180deg);
        border-radius:%  
    }

    #pr,#sk,#de{ width:50%;
margin-bottom: 1%;
margin-left: 20%;
padding-top :50px;}
#ex,#ed,#co{ width:50%;
    margin-bottom: 1%;
    margin-left: 30%;
    padding-top :50px;}

.h1{text-align: center;
margin-top: 50px;}

#ee{color: rgb(236, 236, 236);
font-size: 25px;
font-family: 'Dancing Script', cursive;}

.iwant{font-family: 'Nunito', sans-serif;
font-size: 20px;
margin-left: 10% ;
padding-top:-100px;}

.footer{font-family: cursive;}

.rounded-full{border-radius: 50%;
width: 7%;
margin-bottom:-100px;}
.vedanta{border-radius: 50%;
  width: 9%;
  margin-bottom:-100px;}

  .w-full{margin-left: 10%;
padding-top: ;}

.link,.year{color: bisque;
padding-top: -10px;
  font-size: 20px;}

  a{color: aliceblue;}
a:visited{text-decoration: none;}
a:link{text-decoration: none;}

#del{float: left;
margin-left:150px;
margin-top: 30px;
width:%;}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.image{ animation:shake-horizontal 10s linear infinite} @keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}

.language{padding-top:-10%;
  margin-left:60%;
  display: inline-block;

}

  .software{margin-top: 0%;
    margin-bottom:-14.55%;
  margin-left: 30%;display:;
}

  .enlil,.deep{margin-left: 2%;}
  h3{font-size: 22px;font-family: 'Poppins', sans-serif;}
  h4{font-size: 17px;
    font-family: 'Poppins', sans-serif;
  }
  h2{font-family: 'Poppins', sans-serif;}

